.search {
  z-index: 1;
  margin-bottom: 17px;
  h1 {
    text-align: center;
    font-size: 25px;
  }

  input {
    text-align: center;
    font-size: 25px;
    height: 40px;
    border-radius: 0px;
  }
}
